/* centers the content on the page */
.coin-container {
    display: flex;
    justify-content: center;
}

.coin-row {
    display: flex;
    flex-direction: row;
    justify-items:start;
    align-items:center;
    height: 100px;
}